<main class="js_cards_companies main">
  <article class="card">
    <div class="card__title">
      <h2 class="card__name">Company Name</h2>
      <p class="card__year">Year</p>
    </div>
    <div class="card__tags">
      <dl class="tag card__tags--industry">Industry tag</dl>
      <dl class="tag card__tags--size">Size</dl>
    </div>
    <div class="card__container-link">
      <a target="_blank" href="" class="js_card_website card__link">Website</a>
    </div>
  </article>

  <article class="card">
    <div class="card__title">
      <h2 class="card__name">Company Name</h2>
      <p class="card__year">Year</p>
    </div>
    <div class="card__tags">
      <dl class="tag card__tags--industry">Industry tag</dl>
      <dl class="tag card__tags--size">Size</dl>
    </div>
    <div class="card__container-link">
      <a target="_blank" href="" class="card__link">Website</a>
    </div>
  </article>

  <article class="card">
    <div class="card__title">
      <h2 class="card__name">Company Name</h2>
      <p class="card__year">Year</p>
    </div>
    <div class="card__tags">
      <dl class="tag card__tags--industry">Industry tag</dl>
      <dl class="tag card__tags--size">Size</dl>
    </div>
    <div class="card__container-link">
      <a target="_blank" href="" class="card__link">Website</a>
    </div>
  </article>
  
  <article class="card">
    <div class="card__title">
      <h2 class="card__name">Company Name</h2>
      <p class="card__year">Year</p>
    </div>
    <div class="card__tags">
      <dl class="tag card__tags--industry">Industry tag</dl>
      <dl class="tag card__tags--size">Size</dl>
    </div>
    <div class="card__container-link">
      <a target="_blank" href="" class="card__link">Website</a>
    </div>
  </article>

</main>
