/* Colors */
$color-green  : #5AB16D;
$color-green-2: #0B7015;
$color-white  : #fff;
$color-grey   : #F5F5F5;
$color-black  : #595959;
$color-purple : #7B70F4 ;
$color-btn : $color-green;
/* Fonts */
$font-title   : 'Roboto',
sans-serif;
$font-normal: 'Rubik',
sans-serif;