/* Colors */
$color-green  : #28B5B5;
$color-green-2: #2F86A6;
$color-white  : #fff;
$color-grey   : #F5F5F5;
$color-black  : #595959;
$color-purple : #544179;

$color-btn : $color-green;
/* Fonts */
$font-title : 'Roboto',
sans-serif;
$font-normal: 'Rubik',
sans-serif;