.main {
  display              : grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap             : 47px;
  padding              : 60px 40px;
  place-items          : center;
}

.card {
  display         : flex;
  flex-direction  : column;
  justify-content : space-between;
  padding         : 25px 19px 15px 20px;
  width           : 300px;
  height          : 193px;
  border          : solid 1px #BABABA;
  border-radius   : 10px;
  background-color: $color-grey;

  &__name {
    font-family   : $font-title;
    font-weight   : 500;
    font-size     : 18px;
    line-height   : 21px;
    color         : $color-black;
    text-transform: uppercase;
  }

  &__year {
    font-family   : $font-title;
    font-weight   : 400;
    font-size     : 12px;
    line-height   : 14px;
    color         : $color-black;
    text-transform: uppercase;
  }

  &__tags {
    display     : flex;
    margin-right: 4px;
    
    &--industry {
      font-size: 14px;
      border: 1.5px $color-purple solid;
      color : $color-purple;
    }

    &--size {
      font-size: 14px;
      border: 1.5px $color-green-2 solid;
      color : $color-green-2;
    }
  }

  &__container-link {
    display        : flex;
    justify-content: flex-end;
  }

  &__link {
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 86px;
    height          : 28px;
    border-radius   : 5px;
    background-color: $color-btn;
    color           : $color-white;
    font-family     : $font-normal;
    font-size       : 14px;
    line-height     : 16px;
    text-decoration : none;
  }

}
